
.custom-menu .ui-menu {
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  border: 1px solid #ccc;
  padding: 3px 2px;
}

.custom-menu .ui-menu__item {
  padding: 12px 20px; 
  font-size: 14px;
  border-bottom: 1px solid #eee;
}

.custom-menu .ui-menu__item:last-child {
  border-bottom: none;
}

.custom-menu .ui-menu .ui-menu {
  margin-top: -100px; 
  background-color: #f9f9f9; 
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  width: 400px;
  height: 400px;
}


.custom-menu .ui-menu .ui-menu__item {
  padding: 15px 20px;
  font-size: 14px;
  color: #666;
}

.custom-menu .ui-menu .ui-menu__item:hover {
  background-color: #0078d4;
  color: white;
}

.custom-menu .ui-menu__item.active,
.custom-menu .ui-menu__item:focus {
  background-color: #0078d4;
  color: white;
}
